body{

margin:0;

background:#f2f2f2;

font-family:tahoma;

}

header{

background:#1565C0;

color:white;

padding:20px;

text-align:center;

}

.container{

display:flex;

gap:20px;

padding:20px;

flex-wrap:wrap;

}

.card{

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,.2);

width:300px;

}

button{

width:100%;

padding:12px;

margin-top:10px;

background:#1565C0;

color:white;

border:none;

cursor:pointer;

border-radius:6px;

}

button:hover{

background:#0D47A1;

}

input{

width:100%;

padding:10px;

}
